:root {
    --background-image: url('https://images.hdqwalls.com/wallpapers/earth-digital-art-61.jpg');
    --header-height: 50px;
    --post-height: 100px;
    --line-height: 5px;

    --first:     #313131;
    --secondary: #1D1D23;
    --third:     #61615B;
}

ul {
    padding-left: 35px;
}

h1 {
    display: inline;
}

h1 > a {
    text-decoration: none;
}

h1 > a:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.page {
    height: var(--post-height);
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    overflow-x: hidden;
    overflow-y: hidden;
}

.page > img {
    height: 100%;
    display: inline;
    background-color: var(--third);
}

.page > .text {
    display: inline-block;
    height: 100%;
    padding-left: 15px;
    max-width: 75%;
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 0;
    margin: 0;
}

button:hover {
    opacity: 0.5;
}

button {
    background-color: var(--secondary);
    border: none;
    padding: 5px;
}

button > a {
    text-decoration: none;
}

body {
    background-image: var(--background-image);
    background-size: cover;
    overflow-x: hidden;
}

.line {
    height: 100%;
    width: calc(100% / 2);
    display: inline-block;
}

.dec {
    width: 100%;
    height: var(--line-height);

    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: var(--header-height);
}

.contpad {
    padding-left: 15%;
    padding-right: 15%;
}

.content {
    width: 100%;
    padding: 10px;
    border: 8px ridge #1D1D23;
    background-color: var(--first);
}

.header {
    height: var(--header-height);
    width: 100vw;

    background-image: url('./graphics/header.png');
    background-size: contain;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    position: sticky;
    top: 0px;
}

.header > img {
    height: 100%;
    display: inline;
}